<div class="search" style="background: linear-gradient(to left, rgba(3,37,65,0%), rgba(3,37,65,100%)), url({{image}}) no-repeat;
 background-position: center;background-size: cover; height: 360px;">
    <div class="search-cont">
        <div style="display: flex; flex-direction:column; align-content:flex-start; color: #fff;">
            <h1>Welcome.</h1>
            <h2>Million of Movies, TV shows and people to discover. Explore Now</h2>
            <div class="search-cont">
            <input [(ngModel)]="search" class="input" placeholder="search for a movie, tv show, person..." type="text">
            <button class="input-btn" type="submit" (click)="Search()"
             > Search </button>
        </div>
          </div>
    </div>
</div>