<footer class="footer">
    <div class="footer-content">
        <div class="footer-cont">
            <div class="footer-logo"><img src="assets/images/footer-logo.svg" width="130px" height="94px"></div>
            <div class="foter-btn"><button class="footer-btn">Join The Community</button></div>
        </div>
        <div class="foot-l" style="display: flex; gap: 12px">
        <div>
            <ul style="list-style: none; ">
                <li style="font-weight: bold;">THE BASICS</li>
                <li>About TMDB</li>
                <li>Contact Us</li>
                <li>Support Forums</li>
                <li>API</li>
                <li>System Status</li>
            </ul>
            </div>
            <div>
            <ul style="list-style: none; ">
                <li style="font-weight: bold;">GET INVOLVED</li>
                <li>Contribution Bible</li>
                <li>Add New Movie</li>
                <li>Add New TV Show</li>
            </ul>
        </div>
        <div class="comm">
            <ul style="list-style: none; ">
                <li style="font-weight: bold;">COMMUNITY</li>
                <li>Guidelines</li>
                <li>Discussions</li>
                <li>ALeaderboard</li>
                <li>Twitter</li>
            </ul>
        </div>
        <div class="legal">
            <ul style="list-style: none; ">
                <li style="font-weight: bold;">LEGAL</li>
                <li>Terms of Use</li>
                <li>API Terms of Use</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        </div>
    </div>
</footer>