<div>
    <app-card-component></app-card-component>
    <!-- <app-card-component></app-card-component>
    <app-card-component></app-card-component>
    <app-card-component></app-card-component>
    <app-card-component></app-card-component>
    <app-card-component></app-card-component>
    <app-card-component></app-card-component>
    <app-card-component></app-card-component>
    <app-card-component></app-card-component>

    <app-card-component></app-card-component>
    <app-card-component></app-card-component>
    <app-card-component></app-card-component>
    <app-card-component></app-card-component>
    <app-card-component></app-card-component>
    <app-card-component></app-card-component>
    <app-card-component></app-card-component>
    <app-card-component></app-card-component> -->
</div>