<div class="form-container">
<form (ngSubmit)="onSubmit()" [formGroup]="signUpForm" class="form">
        <div style="font-weight: Bold;">Login in</div>
            <div>Email:</div>
            <input type="email"
            name="Email"
            formControlName="email"
            class="input">
            <div *ngIf="email && email?.invalid && email.touched ">Email is invalid</div>
            <div>Password:</div>
            <input type="password"
            name="password"
            formControlName="password"
            class="input">
            <div *ngIf="password && password.invalid && password.touched">Password is invalid</div>
        <div>
            <input type="submit" [disabled]="signUpForm.invalid" class="btn">
        </div>
        <div>
            ----------OR----------
        </div>
        <div>
           Need an Account? <a routerLink="/signup" routerLinkActive="router-link-active">Sign Up</a>
        </div>
</form>
</div>